<p id="notice"><%= notice %></p>
<br>
<br>
<h2>Which question do you want to answer?</h2>
<table>
<tr>

<th>Question</th>
</tr>
<% @quizzs.each do |quizz| %>
<tr>
<td><%= quizz.question %></td>
<td><%= link_to ' Answer this', :controller => "quizzs", :action => "answer",:id=>quizz.id%></td>
</tr>
<% end %>
</table>
</br>
<%= link_to 'Back', root_path %>
